/**
 * function: index
 * author  : wq
 * update  : 2019/5/23 16:52
 */
@import '~@ddjf/ddepp/packages/css/var/main';
.model-wrap {
  padding: 48px 40px 37px;
  &-title {
    font-weight: 700;
    text-align: left;
  }

  &-tip {
    padding-top: $gap-text;
    text-align: left;
    line-height: 30px;
    height: 30px;
  }
}

.modal-input {
  border-radius: 5px;
  height: 60px;
  padding: 12px 20px;
  line-height: 36px;
}
