/**
 * function: index
 * author  : wq
 * update  : 2019/5/23 16:52
 */
.empty-list {
  width: 330px;
  height: 360px;
  margin: 200px auto 0;
  background-image: url("https://cdn.ddjf.com/static/images/epp_tools/no-data.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
