$size-grid-icon         : 28px;
$font-size-amount-num   : 48;

$font-size              : 30px; // 一般文本常用的字体
$font-size-small        : 26px;
$font-size-extra-small  : 16px;
$font-size-base         : 20px;
$font-tips-base         : 22px;
$font-size-caption      : 30px; // 副文本
$font-size-title-sm     : 34px; // 控件中主操作标题
$font-size-title-lg     : 36px; // 需要强调的标题
$font-size-page-result  : 40px; // 操作结果页面的标题或者异常页面
$font-size-amount       : $font-size-amount-num + px; // 输入金额

$font-size-badge        : 20px;
