$icon-size: 30px;
$icon-size-small: 16px;
$icon-size-large: 38px;
$icon-size-cell: 30px;
$icon-size-cell-large: 36px;
$icon-size-cell-2: 60px;
$icon-size-cell-3: 96px;
$icon-size-cell-4: 48px;
$icon-size-cell-5: 42px;

